header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #ff7f50
    
}

main {
    background-color: floralwhite;
    
}

form {
background-color: #e0ded9;

}